body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: black;
}

h5 {
  margin: 0;
  color: black;
}

.projectBoxInactive {
  box-sizing: content-box;
  width: 300px;
  height: 120px;
  border: 3px solid grey;
  padding: 15px;
  background-color: white;
}

.projectBoxActive {
  box-sizing: content-box;
  width: 300px;
  height: 120px;
  border: 3px solid white;
  padding: 15px;
  background-color: black;
  /* color: white; */
}


.header {
  font-family: Allura, cursive;
  /* font-size: 80px; */
  /* font-weight: bold; */
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /* opacity: 0.80; */
  /* opacity: 0.65; */
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1A {
  background-image: url("./images/fossil2.jpg");
  /* height: 900px; */
  /* min-height: 100%; */
  height: 100vh;
  /* max-width: 100wh; */
}

.bgimg-1B {
  background-image: url("./images/fossil.jpg");
  /* height: 900px; */
  /* min-height: 100%; */
  height: 10.5vh;
  /* max-width: 100wh; */
}

.bgimg-1 {
  background-image: url("./images/cobweb1.jpg");
  /* height: 900px; */
  /* min-height: 100%; */
  /* height: 89.5vh; */
  height: 100vh;
  /* max-width: 100wh; */
}

.bgimg-2 {
  background-image: url("./images/fractal1.jpg");
  height: 400px;
}

.bgimg-3 {
  background-image: url("./images/planet1.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.captionTwo {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: transparent;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.captionTwo span.borderTwo {
  background-color: transparent;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption span.borderTwo {
  background-color: #111;
  color: #fff;
  padding: 10px 40px 10px 40px;
  font-size: 25px;
  letter-spacing: 10px;
}

.downloadButton {
  /* color: #fff; */
  letter-spacing: 1px;
  font-size: 20px;
  /* padding: 0 0 0 20px;   */
  color: black
}

.sectionHeader {
  color: #fff;
  letter-spacing: 10px;
  font-size: 25px;
  padding: 0 0 0 20px;  
}

.headerTwo {
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 13px "Lato", sans-serif;
  font-weight: bold;
  color: black;
}

.postPadding {
  padding-bottom: 15px;
}

.list {
  padding: 0 0 0 20px;
  margin-top: 0;
  color: rgb(61, 61, 61);
}

.jobCompany {
  font-weight: bold;
  font-size: 15px;
  color: black;
  padding-top: 5px;
}

.jobLocation {
  font-weight: bold;
  font-size: 15px;
  color: rgb(61, 61, 61);
  padding-top: 5px;
}

.bar {
  font-weight: bold;
  font-size: 15px;
  color: rgb(61, 61, 61);
}


.jobDescription {
  /* font-weight: bold; */
  color: rgb(61, 61, 61);
}

.aboutText {
  /* letter-spacing: 1px; */
  /* text-transform: uppercase; */
  /* font: 20px "Lato", sans-serif; */
  font: 400 20px/1.8 "Lato", sans-serif;
  /* font-weight: bold; */
  color: black;
}

.resHeader {
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font: 25px "Lato", sans-serif;
  color: rgb(61, 61, 61);
}

.resume {
  text-align: left;
  padding: 20px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Gallery Grid */
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  /* flex: 50%;
  padding: 0 4px; */
}

.column img {
  margin-top: 12px;
  /* vertical-align: middle; */
  /* width: 400px; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS for autotype */

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.autotext { 
    font: bold 300% Consolas, Monaco, monospace;
    /* color: 'white'; */
    border-right: .1em solid white;
    width: 16.5em; 
    width: 21ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end), blink-caret .5s step-end infinite alternate;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
}